<% wrap_layout :layout_blog do %>
  <%#= partial "partials/blog/header" %>

  <article class="post post--page<% unless current_article.data.type == 'post' %> post--update<% end %> h-entry">
    <a href="<%= current_article.url %>" class="u-url post__date">
      <time class="dt-published">
        <%= current_article.date.strftime('%b %e %Y') %>
      </time>
    </a>

    <h1 class="p-name">
      <% if current_article.data.link_url %>
        <a href="<%= current_article.data.link_url %>">
          <%= current_article.title %>
        </a>
      <% else %>
        <%= current_article.title %>
      <% end %>
    </h1>

    <div class="e-content"><%= yield %></div>

    <footer class="p-author h-card">
      <hr>
      <%= image_tag 'nenad.jpg', alt: 'Nenad Kostić', class: 'u-photo' %>
      👋 Nice to meet you! I'm
      <a href="/about" class="p-name u-url"><span class="p-given-name">Nenad</span> <span class="p-family-name">Kostić</span></a>, <span class="p-note">developer and bussiess analzst at the digital agency <a href="https://www.frontech.ca">Frontech Solutions Inc.</a></span>. We build software for businesses and organisations all over the world.
    </footer>
  </article>

  <div class="blog-cta">
    <a href="mailto:nenadkostic@gmail.com?subject=Lets work together">Let's work together!</a>
  </div>

  <%= partial "partials/blog/footer" %>
<% end %>
